
.img{
    width: 50%;
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
.Conatainer{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    gap: 60px;
    margin-top: 30px;
    margin-bottom: 20px;
}
