@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

body {
  margin: 0;
  resize: both;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  transform: scale(100%);
  transform-origin: 0% 0% 0px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
