.toolbar {
  display: flex;
  justify-content: space-between;
    padding-bottom: 15px;
    padding-top: 10px;
}

.button:hover{
  background-color: rgba(0,0,0,0.2);
}
.link{
  display: flex;
 align-items: center;
}
